body{
    /*font-family: Verdana, Geneva, Tahoma, sans-serif;*/
    font-family: 'Raleway','Nanum Gothic', sans-serif;
    margin: 0;
}

.body-container{
    padding: 0 8px;
}

@media screen and (min-width:900px){
    body{
        padding: 1em 20vh;

    }
    .body-container{
        padding: 1vh 5vh;
    }
    nav ul{
        border-radius: 15px;
    }
    #profile{
        float: right;
    }
}

nav ul {
    list-style-type: none;
    background-color: #333;
    margin: 0;
    padding: 0 8px;
    overflow: hidden;
}

nav li {
    display: inline-block;
    padding: 1em;
    border-radius: 15px;
}
nav li:hover{
    background-color: #111;
}

nav li a{
    color: white;
    text-decoration: none;
    text-align: center;
}

div.dropdown{
    display: inline-block;
    position: absolute;
    color: white;
}

.dropdown .dropdown-content{
    display: none;
    background-color: #f9f9f9;
    z-index: 1;
    position: absolute;
    border-radius: 0px 0px 15px 15px;
}
.dropdown-content ul{
    border-radius: 0px 0px 15px 15px;
}
.dropdown-content li {
    display: block;
}
.dropdown:hover .dropdown-content{
    display: block;
}

#home{
    font-weight: 500;
}